.container.position-relative {
  height: 90dvh;
}

.v-middle-align {
  vertical-align: middle;
}

.add-button__container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  font-size: 2rem;
}
